.header-menu {
    background-color: #ffcaca !important;
    height: 70px;
    display: block;
}

.header-logo {
    height: 50px;
}

.header-menu-secondary{
    display: inline-flex;
}

@media only screen and (max-width: 767px) {
    .header-menu-secondary {
        display: none;
    }
}
