/*
#instafeed {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
#instafeed a {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    background: white;
}
@media only screen and (min-width: 580px) {
    #instafeed a {
      width: 14.28%;
    }
}
#instafeed a img {
    display: block;
    width: 100%;
}
*/
/* To use to left the images always on-line
*/

.footer-image-group {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}
.footer-image {
    width: 14.28%;
    display: inline-block !important;
}