html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    color: #bbbbbb;
}

a:hover {
    color: #23226b;
}

a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.section-title, .section-title:hover {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 1.5px;
    color: black;
    font-family: 'Ubuntu Mono', Fallback, sans-serif;
    letter-spacing: 2px;
}

.section-header {
    font-weight: 400 !important;
    color: #23226b !important;
}

.carousel .control-dots {
    padding: 0;
}

.tests-container {
    padding: 150px 0px 150px 0px;
    background-color: #ffcaca;
}

.video-container {
    margin: 5%;
    max-width: 800px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* OVERRIDE SEMANTIC UI REACT SECTION */

.ui.button {
    font-family: 'Ubuntu Mono', Fallback, sans-serif;
    letter-spacing: 2px;
}

.ui.primary.button, .ui.primary.button:hover, .ui.primary.button:focus, .ui.primary.button:active {
    background-color: #df2c3f;
    color: #fff;
    text-shadow: none;
    background-image: none;
}

.ui.basic.primary.button, .ui.basic.primary.button:focus {
    color: #23226b !important;
    border: #23226b 0.1px solid !important;
    border-radius: 0;
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 20px;
    margin-right: 10px;
}

.ui.basic.primary.button:hover, .ui.basic.primary.button:active {
    color: #df2c3f !important;
    border: #df2c3f 0.1px solid !important;
}

.ui.mini.modal {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.dimmed.dimmable>.ui.animating.dimmer, .dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer {
    background-color: rgba(35, 34, 107, 0.8)
}

@media only screen and (max-width: 767px) {
    .ui.attached.tabular.menu {
        width: auto;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .ui.attached.tabular.menu {
        padding-left: calc((100% - 732px)/2);
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .ui.attached.tabular.menu {
        padding-left: calc((100% - 933px)/2);
    }
}

@media only screen and (min-width: 1200px) {
    .ui.attached.tabular.menu {
        padding-left: calc((100% - 1127px)/2);
    }
}

.ui.attached.tabular.menu {
    margin: 0 auto !important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.ui.menu .item>a:not(.ui) {
    color: #23226b;
}

.ui.menu .item>a:not(.ui):hover, .ui.menu .item>a:not(.ui):active {
    color: #df2c3f;
}