html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.section-title, .section-title:hover {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 1.5px;
    color: black;
    font-family: 'Ubuntu Mono', Fallback, sans-serif;
    letter-spacing: 2px;
}

.ui.attached.tabular.menu {
    margin: 0 auto !important;
}

.carousel .control-dots {
    padding: 0;
}

/* OVERRIDE SEMANTIC UI REACT SECTION */

.ui.primary.button, .ui.primary.button:hover, .ui.primary.button:focus, .ui.primary.button:active {
    background-color: #df2c3f;
    color: #fff;
    text-shadow: none;
    background-image: none;
    font-family: 'Ubuntu Mono', Fallback, sans-serif;
    letter-spacing: 2px;
}

.ui.mini.modal {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.dimmed.dimmable>.ui.animating.dimmer, .dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer {
    background-color: rgba(35, 34, 107, 0.8)
}